.name {
    text-align: center;
}

.avatar {
    width: 70%;
    height: auto;
}

.task-name {
    font-size: 62px;
    font-family: Constantia, serif;
    height: 100px
}

.side-images {
    display: flex;
}

.task-image-wrapper {
    width: 20%;
}

.task-image-wrapper img {
    width: 100%;
}

.task-info {
    text-align: center;
}

.task-participants {
    font-family: Constantia, serif;
    height: 50px
}

.task-organizer {
    font-family: Constantia, serif;
    height: 50px
}

.task-description {
    font-size: 15px;
}

.participate-button {
    text-align: center;
}

.button {
    height: 50px;
    background-color: limegreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
