.tree-block {

  .tree-img {
    margin: 0 auto;
    width: 60%;
    position: relative;

    img {
      width: 100%;
    }

    img.tree-img-grayscale {
      filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    img.tree-img-colorful {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 2;
      height: 0;
      width: 100%;
      object-fit: cover;
      object-position: -10% 100%;
    }
  }
}