.signin-form {
<<<<<<< HEAD
    text-align:center;
    margin-top:15px;
    margin-bottom:15px;
    padding-left:5%;
    align-items: center;
    justify-content: center;
}

.signin-image {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 15px 15px;
}

.form-title {
    margin-bottom: 33px;
    line-height: 1.66; 
    outline: none;
    margin: 0; 
    padding: 0;
    font-weight: bold; 
    color: #222;
    font-family: Roboto;
    font-size: 36px;
}

figure {
    text-align: center;
    margin: 0;
}

.form-submit {
    display: inline-block;
    background: #6dabe4;
    color: #fff;
    border: none;
    width: auto;
    padding: 10px 40px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background: darken(#6dabe4, 10%);
    }
}

.image { 
    max-width: 100%;
    height: auto;
}

.main-sign-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    font-size: 18px;
    color: #222;
    font-family: Roboto;
}

.main {
    justify-content:center;
    align-items:center;
    width:80%;
    background: #fff;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius:20px;
}

#signin {
    margin-top: 10px;
    font-size: 18px;
}
.signin-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    position: relative;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.form-group {
    position: relative;
    overflow: hidden;
    &:last-child {
        margin-bottom: 0px;
    }
}

.remmeber {
    text-align:left;
    padding-left:left;
}

.form {
    width: 90%;
    border: none;
    outline: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Roboto;
    font: 400 13px Roboto;
    box-sizing: border-box;
    &:focus {
        border-bottom: 1px solid #222;
    }
}

.agree-term {
    text-align:left;
    margin-left:5%;
}

label {
    position: absolute;
    top: 50%;
    color: #222;
    font-family: Roboto;
    transform: translateY(-50%);
}

.label-agree-term {
    position: relative;
    font-size: 14px;
    top: 8px;
    left: 5px;
}

.login-label {
    display: inline-block;
    padding-top: 15px;
}

.social-label {
    padding-top: 5px;
    display: inline-block;
}
.socials {
    justify-content:center;
    align-items:center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    li {
        padding: 5px;
        &:last-child {
            margin-right: 0px;
        }
        a {
            text-decoration: none;
            i {
                width: 30px;
                height: 30px;
                color: #fff;
                display: flex;
                font-size: 20px;
                border-radius: 5px;
                justify-content:center;
                align-items:center;
                transform: translateZ(0);
                transition-duration: 0.3s;
                transition-property: transform;
                transition-timing-function: ease-out;
            }
        }
        &:hover {
            a {
                i {
                    transform: scale(1.3) translateZ(0); 
                }
            }
        }
    }
}
.fa-facebook-f {
    background: #3b5998;
}
.fa-twitter {
    background: #1da0f2;
}
.fa-google {
    background: #e72734;
}
=======
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 5%;
  align-items: center;
  justify-content: center;
}

.signin-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}

.form-title {
  margin-bottom: 33px;
  line-height: 1.66;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #222;
  font-family: Poppins;
  font-size: 36px;
}

figure {
  text-align: center;
  margin: 0;
}

.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  border: none;
  width: auto;
  padding: 10px 40px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: darken(#6dabe4, 10%);
  }

}

.image {
  max-width: 100%;
  height: auto;
}

.main-sign-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-size: 18px;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}

#signin {
  margin-top: 10px;
  font-size: 18px;
}

.signin-image-link {
  font-size: 14px;
  color: #222;
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}

.remmeber {
  text-align: left;
}

.form {
  width: 90%;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  font-family: Poppins;
  font: 400 13px Arial;
  box-sizing: border-box;

  &:focus {
    border-bottom: 1px solid #222;
  }

}

.agree-term {
  text-align: left;
  margin-left: 5%;
}

label {
  position: absolute;
  top: 50%;
  color: #222;
  font-family: Poppins;
  transform: translateY(-50%);
}

.label-agree-term {
  position: relative;
  font-size: 14px;
  top: 8px;
  left: 5px;
}

.login-label {
  display: inline-block;
  padding-top: 15px;
}

.social-label {
  padding-top: 5px;
  display: inline-block;
}

.socials {
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    padding: 5px;

    &:last-child {
      margin-right: 0px;
    }

    a {
      text-decoration: none;

      i {
        width: 30px;
        height: 30px;
        color: #fff;
        display: flex;
        font-size: 20px;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        transform: translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
      }

    }

    &:hover {
      a {
        i {
          transform: scale(1.3) translateZ(0);
        }

      }

    }

  }

}

.zmdi-facebook {
  background: #3b5998;
}

.zmdi-twitter {
  background: #1da0f2;
}

.zmdi-google {
  background: #e72734;
}
>>>>>>> 2bd171ad5636ed2205beb9d92e881289302ea7be
