.achievement-block{
  border: 2px solid #cda062;
  border-radius: 10px;
  width: 25%;
  background: #524028;
}
.achievement-img{
  display: inline-block;
}
.achievement-img img{
  padding: 5px;
  width: 50px;
  border-radius: 100%;
}
.achievement-description{
  padding-left: 5px;
  color: #cda062;
  display: inline-block;

}
