.achievement-block{
  border: 2px solid #cda062;
  border-radius: 10px;
  background: #524028;
}

.achievement-img img{
  padding: 5px;
  width: 50px;
  border-radius: 100%;
}
.achievement-description{
  padding-left: 5px;
  color: #cda062;
}
