.achievement-block {
  border: 1px solid #cda062;
  border-radius: 10px;
  width: 55px;
  height: 55px;
  background: #524028;
  margin-top: 25%;

  .achievement-description {
    display: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #cda062;

  }

  .achievement-img {
    img {
      padding: 5px;
      width: 50px;
      border-radius: 100%;
    }

    display: inline-block;


  }

  &:hover {
    width: auto;

    .achievement-description {
      display: inline-block;

    }

  }

}