.rightPart {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.avatar {
    align-self: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.person-name {
    font-size: 20px;
}

.person-description {
    font-size: 17px;
}

input {
    font-size: 18px;
    text-align: center;
    border: none;
}